doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Bible ToDo List Topic Index
    meta(name='description', content='Bible todo list topics indexed in alphabetical order.')
    meta(name='keywords', content="bible todo list, holy king james bible, words of Jesus, commandments of Jesus, God's word, bible index, bible to do list")
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/common_page.css', rel='stylesheet')
    link(href='../css/todo_page.css', rel='stylesheet', type='text/css')
  body
    include ../includes/todo_page_menu.pug
    include ../includes/todo_page_header.pug
    .container
      // <container>
      .row
        .col-md-12
          h1 Bible ToDo List Topic Index
          include ../includes/todo_page_a2z_buttons.pug
    //-Define mixin to list topics for letter
    mixin MIXIN_LIST_TOPICS(i)
      //-Compute actual letter from index
      - var topicLetter = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i];
      - var idRef = "todo_" + topicLetter;
      //-Generate row header for this letter
      .row(style="margin-left:0; margin-right:0;")
        .col-xs-12.letter(id=idRef)
          | - #{topicLetter} - 
          a.pull-right.gotop(href='#') 
            small Top of page
      //-Generate topic links for this letter using 3 columns per row      
      - var loop = 0;
      - var links = letters[i].topics;
      - while (loop < links.length) {
      - var col = 1;
      .row(style="margin-left:0; margin-right:0;")
        - while (col < 4 && loop < links.length) {
        .col-md-4.col-xs-12.topiclist
          //-Output topic link
          - var topic = links[loop];
          - var href = "bible_todo_list.html#todo_" + topic.link;
          - if (topic.prefix !== "") {
              //-Indirect link to topic
              | #{topic.prefix} (see 
              a(href=href) #{topic.linkText}
              | )
          - }
          - else {
              //-Direct link to topic
              a(href=href) #{topic.linkText}  
              | 
              span.badge.groupcount #{topic.count}
          - }
          - ++loop;
          - ++col;
        - } //-while col
      - } //-while loop
    //-End of mixin definition 
    .container
      //-Generate links for each letter of the alphabet indexed 0-25
      - for (var i=0; i < 26; i++) {
        + MIXIN_LIST_TOPICS(i)
      - }
    .container
      hr.featurette-divider
      footer.footer.text-center
        p
          | Copyright © 2017 ToDoBible.org. All rights reserved.
          a(href='#')
            small  Top of page
    script(src='../script/jquery-1.12.4.min.js')
    script(src='../script/bootstrap.min.js')
