doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bible ToDo List (By Topic)
    meta(name='description', content='Bible todo list with todo items grouped by topic in alphabetical order.')
    meta(name='keywords', content="bible todo list, holy king james bible, words of Jesus, commandments of Jesus, God's word, bible index, bible to do list")
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/common_page.css', rel='stylesheet')
    link(href='../css/todo_page.css', rel='stylesheet', type='text/css')
  body
    include ../includes/todo_page_menu.pug
    include ../includes/todo_page_header.pug
    .container
      // <container>
      .row
        .col-md-12
          h1 Bible ToDo List (By Topic)
          hr.featurette-divider
          table.tabheading
            tr
              td
                a(href='bible_todo_list_disclaimer.html') Not By Works
              td
                a(href='bible_todo_list_ultimate.html') Ultimate Bible ToDo List
              td#current Items By Topic
              td
                a(href='bible_todo_list_by_bible_book.html') Items By Bible Book
              td
                a(href='bible_todo_list_by_a_to_z.html') Items By A-Z
              td#filler  
          p
            | See the 
            a(href='bible_todo_topics_index.html') Bible ToDo List Topic Index
            |  for a list of topics.
            //-TODO: Filter content by bible book 
            div.biblenavigation
              h3 Filter Options
              form
                label(for='book') Filter by bible book:
                select(name='book',id="books")
                  option(value="all")
                    | All Bible Books
                  option(value="b01")
                    | Genesis
                  option(value="b02")
                    | Exodus
                  option(value="b03")
                    | Leviticus
                  option(value="b04")
                    | Numbers
                  option(value="b05")
                    | Deuteronomy
                  option(value="b06")
                    | Joshua
                  option(value="b07")
                    | Judges
                  option(value="b08")
                    | Ruth
                  option(value="b09")
                    | 1 Samuel
                  option(value="b10")
                    | 2 Samuel
                  option(value="b11")
                    | 1 Kings
                  option(value="b12")
                    | 2 Kings
                  option(value="b13")
                    | 1 Chronicles
                  option(value="b14")
                    | 2 Chronicles
                  option(value="b15")
                    | Ezra
                  option(value="b16")
                    | Nehemiah
                  option(value="b17")
                    | Esther
                  option(value="b18")
                    | Job
                  option(value="b19")
                    | Psalms
                  option(value="b20")
                    | Proverbs
                  option(value="b21")
                    | Ecclesiastes
                  option(value="b22")
                    | Song Of Solomon
                  option(value="b23")
                    | Isaiah
                  option(value="b24")
                    | Jeremiah
                  option(value="b25")
                    | Lamentations
                  option(value="b26")
                    | Ezekiel
                  option(value="b27")
                    | Daniel
                  option(value="b28")
                    | Hosea
                  option(value="b29")
                    | Joel
                  option(value="b30")
                    | Amos
                  option(value="b31")
                    | Obadiah
                  option(value="b32")
                    | Jonah
                  option(value="b33")
                    | Micah
                  option(value="b34")
                    | Nahum
                  option(value="b35")
                    | Habakkuk
                  option(value="b36")
                    | Zephaniah
                  option(value="b37")
                    | Haggai
                  option(value="b38")
                    | Zechariah
                  option(value="b39")
                    | Malachi
                  option(value="b40")
                    | Matthew
                  option(value="b41")
                    | Mark
                  option(value="b42")
                    | Luke
                  option(value="b43")
                    | John
                  option(value="b44")
                    | Acts
                  option(value="b45")
                    | Romans
                  option(value="b46")
                    | 1 Corinthians
                  option(value="b47")
                    | 2 Corinthians
                  option(value="b48")
                    | Galatians
                  option(value="b49")
                    | Ephesians
                  option(value="b50")
                    | Philippians
                  option(value="b51")
                    | Colossians
                  option(value="b52")
                    | 1 Thessalonians
                  option(value="b53")
                    | 2 Thessalonians
                  option(value="b54")
                    | 1 Timothy
                  option(value="b55")
                    | 2 Timothy
                  option(value="b56")
                    | Titus
                  option(value="b57")
                    | Philemon
                  option(value="b58")
                    | Hebrews
                  option(value="b59")
                    | James
                  option(value="b60")
                    | 1 Peter
                  option(value="b61")
                    | 2 Peter
                  option(value="b62")
                    | 1 John
                  option(value="b63")
                    | 2 John
                  option(value="b64")
                    | 3 John
                  option(value="b65")
                    | Jude
                  option(value="b66")
                    | Revelation
                br
                button#filter.btn-md.btn-primary(type='submit', onclick='FilterToDoList(); return false') Apply
                button#resetFilter.btn-md.btn-primary(type='reset', onclick='ResetFilter(); return false') Reset
            //-TODO: filter by todo item type !!!
              br
              .filteritems
                label(for='types') Include item types:
                fieldset(name="types")
                  input(type="checkbox",id="checkC",name="cog",value="cog",checked)
                  label(for="fact")
                    span.badge.itemcog C
                    |  Character Of God Items
                  br
                  input(type="checkbox",id="checkF",name="fact",value="fact",checked)
                  label(for="fact")
                    span.badge.itemfact F
                    |  Fact Items
                  br
                  input(type="checkbox",id="checkI",name="iic",value="iic",checked)
                  label(for="todo")
                    span.badge.itemiic I
                    |  Identity In Christ Items
                  br
                  input(type="checkbox",id="checkP",name="promise",value="promise",checked)
                  label(for="todo")
                    span.badge.itempromise P
                    |  Promise Items
                  br
                  input(type="checkbox",id="checkT",name="todo",value="todo",checked)
                  label(for="todo")
                    span.badge.itemtodo T
                    |  ToDo Items
                  br
                input(type="checkbox",id="checkW",name="warn",value="warn",checked)
                label(for="warn")
                  span.badge.itemwarn W
                  |  Warning Items

          // ToDo List Items By Topic
          table.bibletodolist
            thead
              tr
                th(width='75%')
                  | Topic / ToDo Item
                  span.keylink
                    | [
                    a(href='bible_todo_list_disclaimer.html#key') Key
                    | ]
                th(width='25%') Bible Reference
            //-Output topic row header followed by todo items for specified topic 
            //-Define mixin to list topics for book
            mixin MIXIN_LIST_TODO_ITEMS_FOR_TOPIC(i)
              - var displayName = topics[i].topic;
              - var idName = "todo_" + topics[i].topicId;
              //-Generate class name list for each bible book referenced by a todo item
              - var classList = "topic topicrow";
              - var loop = 0;
              - var items = topics[i].items;
              //-!!! compute bible books included for this topic
              - while (loop < items.length) {
              - var todo = items[loop];
                //-Generate class name list for each bible book referenced by this todo item
                - var links = todo.bibleRefs;
                - for (var j=0; j<links.length; j++) {
                  - var bn = " b" + links[j].bookNumber;
                  - if (classList.indexOf(bn) === -1) {
                    //-add book number class name to class list as not present
                    - classList += bn;  
                  - }
                - }
                - ++loop;
              - }
              //-Generate table row header for this topic
              tr(class=classList)
                td(id=idName)
                  | #{displayName} 
                  //-Don't display topic total item count any more as will confuse filtering
                  //-span.badge.groupcount
                    //-|   #{topics[i].items.length}  
                td.gotop
                  a(href='#') Top of page
              //-Generate rows for each todo item for this topic
              - loop = 0;      
              - while (loop < items.length) {
              - var todo = items[loop];
                //-Generate class name list for each bible book referenced by this todo item
                - var links = todo.bibleRefs;
                - var classList = "topicrow";
                - for (var j=0; j<links.length; j++) {
                  - var bn = " b" + links[j].bookNumber;
                  - if (classList.indexOf(bn) === -1) {
                    //-add book number class name to class list as not present
                    - classList += bn;  
                  - }
                - }
                tr(class=classList)
                  td
                    case todo.type
                      when "C"
                        span.badge.itemcog C
                      when "CR"
                        span.badge.itemtodowoc C
                      when "F"
                        span.badge.itemfact F
                      when "FR"
                        span.badge.itemtodowoc F
                      when "I"
                        span.badge.itemiic I
                      when "IR"
                        span.badge.itemtodowoc I
                      when "P"
                        span.badge.itempromise P
                      when "PR"
                        span.badge.itemtodowoc P
                      when "T"
                        span.badge.itemtodo T
                      when "TR"
                        span.badge.itemtodowoc T
                      when "W"
                        span.badge.itemwarn W
                      when "WR"
                        span.badge.itemtodowoc W
                      default
                        span.badge.itemtodo #{todo.type}
                    |  !{todo.todoItem}
                  td
                    //-Output todo item bible ref(s)
                    - for (var j=0; j<links.length; j++) {
                    - var href = "../kjv/" + links[j].link;
                    - if (j === links.length-1) {
                      //-Last of possible multiple bible references
                      a(href=href) #{links[j].linkText}  
                    - }
                    - else {
                      //-Bible reference
                      a(href=href) #{links[j].linkText},
                      br   
                    - }
                    - }
              - ++loop;
              - } //-while loop
            //-End of mixin definition 
            tbody
              //-Generate links for each topic
              - for (var i=0; i < topics.length; i++) {
                + MIXIN_LIST_TODO_ITEMS_FOR_TOPIC(i)
              - }
        // </col-md-12>
      // </row>
    // </container>
    include ../includes/page_footer.pug
    script.
      function FilterToDoList() {
        $('.topicrow').hide(); // Hide all todo items
        var book = "." + document.getElementById("books").value;
        if (book != ".all") {
          // Show todo items for selected book
          $(book).show(); 
        }
        else {
          ResetFilter();
        }
      }
      function ResetFilter() {
        // Display all todo item rows
        document.getElementById("books").value = "all"
        $('.topicrow').show();
      }
    script(src='../script/jquery-1.12.4.min.js')
    script(src='../script/bootstrap.min.js')
